AnchorPane {
    -fx-background-color: linear-gradient(white, white, white, whitesmoke, rgba(149, 223, 219, 0.75));
}

Button {
    -fx-background-color: #4E6688;
    -fx-text-fill: #E3EEB2;
    -fx-font-weight: bold ;
}

Button:hover {
    -fx-background-color: #E3EEB2;
    -fx-text-fill: #332D56;
    -fx-font-weight: bold ;
}
