/* https://colorhunt.co/palette/332d564e668871c0bbe3eeb2  */

AnchorPane {
    -fx-background-color: #ffffff;
}

Button {
    -fx-font-size: 24;
    -fx-background-color: #5C8D89;
}

#normal-button {
    -fx-font-size: 16;
    -fx-background-color: #5C8D89;
}

#cancel-button {
    -fx-font-size: 16;
    -fx-background-color: #A7D7C5;
    -fx-text-fill: #5C8D89;
}

#cancel-button:hover {
    -fx-background-color: #5C8D89;
    -fx-text-fill: #F4F9F4;
}

ListView {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#list-cell {
    -fx-background-color: transparent;
}

#list-cell:selected, #list-cell:hover{
    -fx-background-color: #5C8D89;
    -fx-text-fill: #F4F9F4;
}
#list-cell:selected #cell-label, #list-cell:hover #cell-label{
    -fx-background-color: #5C8D89;
    -fx-text-fill: #F4F9F4;
}


