/* https://colorhunt.co/palette/332d564e668871c0bbe3eeb2  */

AnchorPane {
    /*-fx-background-color: linear-gradient(white, white, white, whitesmoke, rgba(149, 223, 219, 0.75));*/
    -fx-background-color: #ffffff;
}

Button {
    -fx-font-size: 24;
    -fx-background-color: #4E6688;
}

#normal-button {
    -fx-font-size: 16;
    -fx-background-color: #4E6688;
}

#cancel-button {
    -fx-font-size: 16;
    -fx-background-color: #E3EEB2;
    -fx-text-fill: #332D56;
}

#cancel-button:hover {
    -fx-background-color: #332D56;
    -fx-text-fill: #E3EEB2;
}

ListView {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#list-cell {
    -fx-background-color: transparent;
}

#list-cell:selected, #list-cell:hover{
    -fx-background-color: #4E6688;
    -fx-text-fill: #E3EEB2;
}
#list-cell:selected #cell-label, #list-cell:hover #cell-label{
    -fx-background-color: #4E6688;
    -fx-text-fill: #E3EEB2;
}


